section{
    flex-direction: column, row;
    padding: 10px;
    margin:15px

}
p{
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    text-align: center;
}

body {
    column-count: 3;
}


